<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".SherpaService"
            android:enabled="true"
            android:process=":sherpa"
            android:exported="true" />
    </application>

</manifest>